h1, h2, h3, h4, h5, h6 {
    font-family: distant_galaxyregular;
}
body {
  background: #000;
  color: #fff;
}
.main-content {
    margin-top: 70px;
}
.menu {
    align-items: center;
}

.sticky-shrinknav-header {
    height: 100vh;
    background: #000 url(../img/eagle-large.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    }

.sticky-shrinknav-menu {
  background: #00000088;
}

h1.sticky-shrinknav-header-title span.small {
    font-size: .5em;
    display: block;
    border-bottom: 1px solid;
    padding-bottom: 9px;
    width: 79%;
}

h1.sticky-shrinknav-header-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  padding: 0 55px;
  border-width: 0 1px;
  top: 30px;
  background: #ffffff4a;
  color: #000;
}
